.DS_Store
Thumbs.db
.vscode/
.idea/

.env
secret.json
*.private_key
testing_keys.txt

__pycache__/
*.py[cod]
*$py.class
.python-version
venv/
ENV/
backend/media/
backend/static/
*.sqlite3
backend/db.sqlite3

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

blockchain/artifacts/
blockchain/cache/
blockchain/typechain-types/
blockchain/coverage/
blockchain/coverage.json

packages/*/node_modules/
packages/*/artifacts/
packages/*/cache/

*.log
.cache/